@media (max-width: 1200px) {
    .navbar-nav:before {
        width: 80%;
        height: 75%;
    }
    .navbar .navbar-brand img {
        width: 150px;
    }
}

@media (max-width: 992px) {
    h5 {
        font-size: 1rem;
    }
    .navbar .navbar-brand {
        margin-left: 0;
        padding-top: .3125rem;
    }
    /* .navbar .navbar-brand img {
        width: 150px;
    } */
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 15px;
        padding-left: 5px;
    }
    .navbar-nav:before {
        content: " ";
        position: absolute;
        top: 70px;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: skew(0deg, 0deg);
        background: #172a4f;
        overflow: hidden;
        z-index: 2;
        margin: 0;
    }
    .navbar .navbar-nav .nav-link {
        font-size: 15px;
    }
    .slider .owl-carousel .owl-nav button.owl-prev,
    .slider .owl-carousel .owl-nav button.owl-next {
        padding: 0px 10px !important;
        top: 45%;
    }
    .head-fonts {
        font-size: 1.75rem
    }
    .services .owl-carousel .owl-nav button.owl-prev {
        right: 10%;
    }
    .services .owl-carousel .owl-nav button.owl-next {
        right: 4%;
    }
}

@media(max-width:768px) {
    body {
        font-size: 14px;
    }
    .services .owl-carousel .owl-nav button.owl-prev,
    .services .owl-carousel .owl-nav button.owl-next {
        padding: 0 10px !important;
    }
    .services .owl-carousel .owl-nav button.owl-prev {
        right: 14%;
    }
    .services .owl-carousel .owl-nav button.owl-next {
        right: 6%;
    }
    .head-fonts {
        font-size: 1.5rem
    }
    .about .media .icon {
        width: 60px;
        height: 60px;
    }
    .about .media .icon i {
        font-size: 20px;
        padding-top: 18px;
    }
    .upper-footer img {
        width: 120px;
    }
    .header .info {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .upper-bar {
        text-align: center;
    }
    .upper-bar a {
        margin: 5px;
    }
    .upper-bar .text {
        font-size: 12px;
    }
    .upper-bar .icon .fas {
        margin-right: 5px;
        font-size: 18px;
    }
    footer {
        font-size: 14px;
    }
    .head-fonts {
        font-size: 1.15rem
    }
    .products .nav-link {
        padding: .3rem .6rem;
    }
    .products ul li a {
        font-weight: 600;
        font-size: 13px;
    }
    .services .owl-carousel .owl-nav button.owl-prev {
        right: 16%;
    }
    .services .owl-carousel .owl-nav button.owl-next {
        right: 7%;
    }
    .products .item-img:hover .img-caption {
        top: 83%;
    }
    .about .media .icon {
        width: 45px;
        height: 45px;
    }
    .about .media .icon i {
        font-size: 15px;
        padding-top: 13px;
    }
    .header .info {
        font-size: 22px;
    }
}